# ===== C++ build artifacts =====
a.out
*.out
*.exe
*.o
*.obj
*.dSYM/

# Ignore everything by default
*

# Allow directories
!*/

# Allow source & important files
!*.cpp
!*.h
!*.hpp
!*.md
!*.txt
!.gitignore
!README.md

# ===== Editor / OS files =====
.vscode/
.DS_Store
